<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="EventName">
        <th mat-header-cell *matHeaderCellDef> EventName </th>
        <td mat-cell *matCellDef="let element"> {{element.EventName}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="EventDescription">
        <th mat-header-cell *matHeaderCellDef> EventDescription </th>
        <td mat-cell *matCellDef="let element"> {{element.EventDescription}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="ArtistID">
        <th mat-header-cell *matHeaderCellDef> ArtistID </th>
        <td mat-cell *matCellDef="let element"> {{element.ArtistID}} </td>
      </ng-container>

      <ng-container matColumnDef="Likes">
        <th mat-header-cell *matHeaderCellDef> Likes </th>
        <td mat-cell *matCellDef="let element"> {{element.Likes}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="padding"></div>

<table>
<tr>
<td>
<div class= "center">
<h1>Event Catalogue</h1>
<h2>{{isEditMode ? 'Edit Event' : 'Add new Event'}}</h2>

<form  (submit)="onSubmit()"  #EventForm='ngForm'>
  <mat-form-field>
    <input matInput placeholder="Id" name="Id" required
    [(ngModel)]="eventdata.id">
      <mat-error>Es requerido</mat-error>
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field>
    <input matInput placeholder="EventName" name="EventName" required
    [(ngModel)]="eventdata.EventName">
      <mat-error>Es requerido</mat-error>
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field>
    <input matInput placeholder="EventDescription" name="EventDescription" required
      [(ngModel)]="eventdata.EventDescription">
      <mat-error>Es requerido</mat-error>
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field>
    <input matInput placeholder="Likes" name="Likes" required
      [(ngModel)]="eventdata.Likes">
      <mat-error>Es requerido</mat-error>
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field>
    <input matInput placeholder="ArtistId" name="ArtistId" required
      [(ngModel)]="eventdata.ArtistID">
      <mat-error>Es requerido</mat-error>
  </mat-form-field>
  <button type="submit">Aceptar</button>
  <button (click)="cancelEdit()">Limpiar</button>
  <button (click) = "editItem(eventdata)">Editar</button>
</form>
</div> 
</td>
<td>
<div class="center">
  <h1>Delete Events</h1>
  <mat-form-field>
    <input matInput placeholder="Id" name="Id" required
    [(ngModel)]="eventdata.id">
    <mat-error>Es requerido</mat-error>
  </mat-form-field>
  <button (click) = "deleteEdit(eventdata.id)">Eliminar</button>
</div>
</td>
</tr>
</table>