.title{

  color:#0B50C0;
  font-size:30px
}
.card
{
  background-color:#C8C8C8;
  margin-bottom: 20px;
}
.head{

justify-content: space-between;


}
.but{


background-color:#9CC7EF;




}
.color
{
  color: black;
}
