<p>
  Fanatic-Forumcomment works!
</p>

<mat-table  [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> #id</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CommentDescription">
    <mat-header-cell *matHeaderCellDef mat-sort-header>  #CommentDescription</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.CommentDescription }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="usuario" >
    <mat-header-cell *matHeaderCellDef mat-sort-header> #usuario</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.usuario }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="forum" >
    <mat-header-cell *matHeaderCellDef mat-sort-header> #forum</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.forum }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Date" >
    <mat-header-cell *matHeaderCellDef mat-sort-header> #Date</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.Date }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef mat-sort-header> #actions</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button (click)="editItem(row)"><mat-icon>launch</mat-icon></button>
      <button mat-icon-button (click)="deleteItem(row.id)"><mat-icon>delete_outline</mat-icon></button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="loading">
    <mat-footer-cell *matFooterCellDef> Loading Data</mat-footer-cell>

  </ng-container>
<mat-header-row  *matHeaderRowDef="displayedColumns" ></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


</mat-table>
<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]"  showFirstLastButtons>  </mat-paginator>

<h2>{{ isEditMode ? 'Edit Comment' : 'Add new Comment'}}</h2>

