


<div *ngFor="let element of dataSource.data">

<mat-card class="card">


<mat-card-header class="head">
  <mat-card-title class="title">{{element.CommentDescription}} </mat-card-title>
  <button mat-fab class="but"> <mat-icon class="color">flag</mat-icon></button>

</mat-card-header>

<app-UserInformationforForum [idcomment]="element.UsuarioId"></app-UserInformationforForum>
<mat-card-footer align="end">
  <p>{{getfechacomment(element.Date)}}</p>
  
</mat-card-footer>


</mat-card>




</div>











