<p>
  Fanatic-Forum works! fff
</p>
<h2>{{ isEditMode ? 'Edit Forum' : 'Add new Forum'}}</h2>
<form    (submit)="onSubmit()"  #ForumForm='ngForm'>
  <mat-form-field>
    <input matInput  placeholder="ForumName" name="ForumName" required
      [(ngModel)]="forumdata.ForumName">
      <mat-error>Es requerido</mat-error>
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field>
    <input matInput placeholder="ForumDescription" name="ForumDescription" required
      [(ngModel)]="forumdata.ForumDescription">
      <mat-error>Es requerido</mat-error>
  </mat-form-field>
  <mat-divider></mat-divider>
  <div class="button-row">
    <button mat-raised-button  color="primary" type="submit"> <mat-icon>add</mat-icon>Aceptar</button>
    <button  mat-raised-button  color="warn" (click)="cancelEdit()"> <mat-icon>close</mat-icon>Limpiar</button>
  </div>
</form>










<mat-divider></mat-divider>
<mat-form-field class="search-form-field" floatLabel="never">

  <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off"  (keyup)="applyfilter()"/>
  <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="OnSearchClear()">
   <mat-icon>close</mat-icon>
  </button>
</mat-form-field>



<mat-table  [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> #id</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ForumName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>  #ForumName</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.ForumName }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ForumDescription" >
    <mat-header-cell *matHeaderCellDef mat-sort-header> #ForumDescription</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.ForumDescription }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef mat-sort-header> #actions</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button (click)="editItem(row)"><mat-icon>launch</mat-icon></button>
      <button mat-icon-button (click)="deleteItem(row.id)"><mat-icon>delete_outline</mat-icon></button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="loading">
    <mat-footer-cell *matFooterCellDef> Loading Data</mat-footer-cell>

  </ng-container>
<mat-header-row  *matHeaderRowDef="displayedColumns" ></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


</mat-table>
<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]"  showFirstLastButtons>  </mat-paginator>

<div *ngFor="let element of dataSource.data">
<mat-card>
  <mat-card-title>{{element.ForumName}}</mat-card-title>
  <mat-card-content>
    <p>{{element.ForumDescription}}</p>
  </mat-card-content>
</mat-card>
</div>

<app-Fanatic-Forumcomment></app-Fanatic-Forumcomment>



