<style>
  .post-mat-card {
    width: calc(90%);
    font-size: 0;
    margin: auto;
  }
  .header-image { /*agregar el url del avatar del usuario*/

  }
  a {
    text-decoration: none;
  }
</style>
<mat-card class="post-mat-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>
      <a href="https://www.shutterstock.com/es/search/example+stamp?image_type=illustration">
        Shiba Inu
      </a>
    </mat-card-title> <!-- Cambiar Shiba Inu por el nombre del usuario y el link por su homepage-->
  </mat-card-header>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content> <!-- Cambiar Shiba Inu por el post real -->
  <mat-card-actions align="end">
    <button mat-button color="primary" (click)="likePost()">Like</button>
    <button mat-button color="primary" (click)="commentPost()">Comment</button>
    <button mat-button (click)="getComments()">See</button>
  </mat-card-actions>
</mat-card>

<!--por alguna razon no me esta funcionando el *ngIf ni el *ngFor, pero si logro conseguir los comments -->
