<p>
  Fanatic-Forum-Create works!
</p>
<form  (submit)="onSubmit()"  #studentForm='ngForm'>
  <mat-form-field>
    <input matInput placeholder="ForumName" name="ForumName" required
      [(ngModel)]="forum_data.ForumName">
      <mat-error>Es requerido</mat-error>
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field>
    <input matInput placeholder="ForumDescription" name="ForumDescription" required
      [(ngModel)]="forum_data.ForumDescription">
      <mat-error>Es requerido</mat-error>
  </mat-form-field>
  <mat-divider></mat-divider>
    <button type="submit">Aceptar</button>
    <button >Limpiar</button>

</form>
